<nav class="navbar navbar-expand-lg" style="background-color: #111111; height: 35px;">
    <div class="container-fluid">
        <img src="https://i.postimg.cc/pV8KNCzf/logo2.png" style="padding-left: 20px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" style="color: lightgray; position: absolute; left: 700px;"><b>Products</b></a>
      </li>
      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
    </div>
  </nav>
  
  <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #1F1F21; font-family: Arial, Helvetica, sans-serif;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://i.postimg.cc/256nPf7y/logo.png" alt="Logo" width="80" height="30" class="d-inline-block align-text-top" style="padding-left: 20px;">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: #CDFF00; font-size:x-large ; font-family: Arial, Helvetica, sans-serif;"><i><b>NIKE</b></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" style="color: lightgray; position: absolute; left: 600px;"><b>About Us</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" style="color: lightgray; position: absolute; left: 700px;"><b>Products</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" style="color: lightgray; position: absolute; left: 800px;"><b>Contact Us</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>